version: "3.9"

services:
  backend:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - ./back_static:/app/back_static
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - main_network
      - proxy_network

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./storage:/var/lib/postgresql/data
    networks:
      - main_network

networks:
  main_network:
    driver: bridge

  proxy_network:
    external: true
